<!-- <section style="padding:0;height:0;">&nbsp;</section> -->
<section>
  <app-company-banner company="system-b"></app-company-banner>
  <app-company-header name="system-b"></app-company-header>
</section>
<section>
  <app-company-fact company="system-b" name="locations"></app-company-fact>
  <app-company-fact company="system-b" name="management"></app-company-fact>
  <app-company-fact company="system-b" name="founding"></app-company-fact>
  <app-company-fact company="system-b" name="team"></app-company-fact>
</section>
