<div class="container">
  <h1 class="white-space-pre mt-4" translate>{{ `core.components.companies.company-header.${name}.title` }}</h1>
  <div>
    @for (text of texts; track text) {
      <p>{{ text }}</p>
    }
    @if (link) {
      <a class="button" [href]="link" target="_blank">
        <span translate>{{ `core.components.companies.company-header.${name}.cta` }}</span>
        <i class="fal fa-arrow-right"></i>
      </a>
    }
    <br>
      <ng-content select="[extra]"></ng-content>
    </div>
  </div>
