<footer>
  <div class="container">
    <div class="footer_primary">
      <div class="footer__logo">
        <img class="logo" src="/assets/images/logo-dark_480x176.svg" height="176" alt="Foodpartners International logo dark">
      </div>
      <div class="footer__companies nav__first">
        <ul class="nav__list">
          <li class="nav__item">
            <a [routerLink]="['/weidelco'] | localize" translate="shared.footer.primary.companies.company-1"></a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/claes-food-projects'] | localize"
              translate="shared.footer.primary.companies.company-2"></a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/brabopak'] | localize" translate="shared.footer.primary.companies.company-3"></a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/dumortier'] | localize" translate="shared.footer.primary.companies.company-4"></a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a [routerLink]="['/'] | localize" fragment="index-about">
              {{ 'shared.footer.primary.nav.about' | translate }}
            </a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/'] | localize" fragment="index-sofindev">
              {{ 'shared.footer.primary.nav.contact' | translate }}
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__location">
        <div class="location_address white-space-pre" translate="shared.footer.primary.location.address"></div>
        <div style="height:20px"></div>
        <div class="location_vat" translate="shared.footer.primary.location.vat"></div>
        <div style="height:20px"></div>
        <div class="location_rpr white-space-pre" translate="shared.footer.primary.location.rpr"></div>
      </div>
    </div>
    <div class="footer_secondary title_xs">
      &copy; {{ currentYear }} {{ 'shared.footer.secondary.title' | translate }}.
      {{ 'shared.footer.secondary.rights' | translate }}
    </div>
  </div>
</footer>
