<!-- <section style="padding:0;height:0;">&nbsp;</section> -->
<section>
  <app-company-banner company="weidelco"></app-company-banner>
  <app-company-header name="weidelco"></app-company-header>
</section>
<section>
  <app-company-fact company="weidelco" name="locations"></app-company-fact>
  <app-company-fact company="weidelco" name="management"></app-company-fact>
  <app-company-fact company="weidelco" name="founding"></app-company-fact>
  <app-company-fact company="weidelco" name="team"></app-company-fact>
</section>
