<div class="container">
  <h1 class="mt-4" translate="core.components.index.index-header.title"></h1>
  <h2 translate="core.components.index.index-header.subtitle"></h2>
  <p>
    {{ 'core.components.index.index-header.text-1' | translate }}
    <br><br>
    {{ 'core.components.index.index-header.text-2' | translate }}
    <br>

    <a class="button" [routerLink]="['/'] | localize" fragment="index-about">
      {{ 'core.components.index.index-header.cta' | translate }}
      <i class="fal fa-arrow-right"></i>
    </a>
  </p>
</div>
