<!-- <section style="padding:0;height:0;">&nbsp;</section> -->
<section>
  <app-company-header name="dumortier"></app-company-header>
  <div>
    <app-company-fact company="dumortier" name="activities"></app-company-fact>
  </div>
</section>
<section>
  <app-company-fact company="dumortier" name="locations"></app-company-fact>
  <app-company-fact company="dumortier" name="management"></app-company-fact>
  <app-company-fact company="dumortier" name="founding"></app-company-fact>
  <app-company-fact company="dumortier" name="team"></app-company-fact>
  <app-company-fact company="dumortier" name="more-info">
    <a class="button" link href="https://www.epices-dumortier.fr" target="_blank">
      www.epices-dumortier.fr
      <i class="fal fa-arrow-right"></i>
    </a>
  </app-company-fact>
</section>
