<section style="padding:0;height:0;">&nbsp;</section>
<section>
  <app-company-header name="claes-food-projects"></app-company-header>
  <div>
    <app-company-fact company="claes-food-projects" name="activities">
      <div extra>
        <h3>Claes Distribution</h3>
        <p>Met meer dan 14.000 producten is het gamma van groothandel Claes
          Distribution indrukwekkend noemen.
          Kruiden,
          marinades, specerijen, voedingswaren, darmen, verpakkingen, producten voor hygiëne en ontsmetting en
          benodigdheden voor winkel, keuken en werkhuis: ze bieden het allemaal! Dankzij optimaal voorraadbeheer is een
          snelle levering de standaard.</p>
        <a class="button" link href="https://www.claes-distribution.be" target="_blank">
          www.claes-distribution.be
          <i class="fal fa-arrow-right"></i>
        </a>
        <h3>Claes Machines</h3>
        <p>Claes Machines staat in voor de verkoop en service van een ruim assortiment van toestellen voor de verwerking
          van o.a. vlees, gevogelte, vis, groenten en kant-en-klare maaltijden.
          Het bedrijf verdeelt betrouwbare toonaangevende merken en verzekert een professionele installatie van elke
          machine. Ook voor preventief onderhoud, advies, revisie, herstelling en onderdelen kunnen klanten steevast op
          Claes Machines rekenen.</p>
        <a class="button" link href="https://www.claes-machines.be" target="_blank">
          www.claes-machines.be
          <i class="fal fa-arrow-right"></i>
        </a>
        <h3>Group Claes</h3>
        <p>De ondersteunende diensten van Group Claes zijn onmisbaar voor een vlotte bedrijfsvoering bij Claes Machines
          en Claes Distribution. IT, finance, personeelszaken, marketing en communicatie vinden hier onder andere
          onderdak.
          Group Claes beschikt over een moderne infrastructuur, maken gebruik van de laatste technologieën en streeft
          permanent naar verbetering, efficiëntie en rendabiliteit.
          Daar plukken de klanten uiteraard ook de vruchten van.</p>
        <a class="button" link href="https://www.groupclaes.be" target="_blank">
          www.groupclaes.be
          <i class="fal fa-arrow-right"></i>
        </a>
      </div>
    </app-company-fact>
    <app-company-fact company="claes-food-projects" name="locations"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="management"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="founding"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="team"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="more-info">
      <a class="button" link href="https://www.groupclaes.be" target="_blank">
        www.groupclaes.be
        <i class="fal fa-arrow-right"></i>
      </a>
    </app-company-fact>
  </div>
</section>
