<!-- <section style="padding:0;height:0;">&nbsp;</section> -->
<section>
  <app-company-banner company="claes-food-projects"></app-company-banner>
  <app-company-header name="claes-food-projects">
    <div extra>
      <div class="mt-8">
        &nbsp;
      </div>

      <img src="https://pcm.groupclaes.be/v3/content/dis/website/logo" style="width:8rem;height:auto" alt="">
      <h3>Claes Distribution</h3>

      <p translate="core.components.companies.company-header.claes-food-projects.claes-distribution.text-1"></p>
      <p translate="core.components.companies.company-header.claes-food-projects.claes-distribution.text-2"></p>

      <a class="button" href="https://www.claes-distribution.be" target="_blank">
        {{ 'core.components.companies.company-header.claes-food-projects.claes-distribution.cta' | translate}}
        <i class="fal fa-arrow-right"></i>
      </a>

      <div class="mx-8">
        &nbsp;
      </div>

      <img src="https://pcm.groupclaes.be/v3/content/mac/website/logo" style="width:8rem;height:auto" alt="">
      <h3>Claes Machines</h3>

      <p translate="core.components.companies.company-header.claes-food-projects.claes-machines.text-1"></p>
      <p translate="core.components.companies.company-header.claes-food-projects.claes-machines.text-2"></p>

      <a class="button" href="https://www.claes-machines.be" target="_blank">
        {{ 'core.components.companies.company-header.claes-food-projects.claes-machines.cta' | translate}}
        <i class="fal fa-arrow-right"></i>
      </a>

      <div class="mx-8">
        &nbsp;
      </div>

      <img src="https://pcm.groupclaes.be/v3/content/gro/website/logo" style="width:8rem;height:auto" alt="">
      <h3>Group Claes</h3>

      <p translate="core.components.companies.company-header.claes-food-projects.groupclaes.text-1"></p>
      <p translate="core.components.companies.company-header.claes-food-projects.groupclaes.text-2"></p>

      <a class="button" href="https://www.groupclaes.be" target="_blank">
        {{ 'core.components.companies.company-header.claes-food-projects.groupclaes.cta' | translate}}
        <i class="fal fa-arrow-right"></i>
      </a>
    </div>
  </app-company-header>
</section>
<section>
  <app-company-fact company="claes-food-projects" name="locations"></app-company-fact>
  <app-company-fact company="claes-food-projects" name="management"></app-company-fact>
  <app-company-fact company="claes-food-projects" name="founding"></app-company-fact>
  <app-company-fact company="claes-food-projects" name="team"></app-company-fact>
</section>
