<section style="padding:0;height:0;">&nbsp;</section>
<section>
  <app-company-header name="claes-food-projects"></app-company-header>
  <div>
    <app-company-fact company="claes-food-projects" name="activities"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="locations"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="management"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="founding"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="team"></app-company-fact>
    <app-company-fact company="claes-food-projects" name="more-info">
      <a class="button" link href="https://www.groupclaes.be" target="_blank">
        www.groupclaes.be
        <i class="fal fa-arrow-right"></i>
      </a>
    </app-company-fact>
  </div>
</section>
