<div class="flex-image-0">
  <div class="flex-0">
    <h2 translate="core.components.index.index-sofindev.title"></h2>
    <div class="container">
      <p class="white-space-pre">
        {{ 'core.components.index.index-sofindev.text' | translate }}
        <br>
        <a class="button" target="_blank" href="https://www.sofindev.be">
          {{ 'core.components.index.index-sofindev.cta' | translate }}
          <i class="fal fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="flex-1">
    <img src="/assets/images/banner-sofindev.webp" alt="">
  </div>
</div>
