<section id="index-header">
  <app-index-header class="block"></app-index-header>
</section>
<section id="index-supplier">
  <app-index-supplier class="block"></app-index-supplier>
</section>
<section id="index-companies">
  <app-index-companies class="block"></app-index-companies>
</section>
<section id="index-about">
  <app-index-about class="block"></app-index-about>
</section>
<section id="index-sofindev">
  <app-index-sofindev></app-index-sofindev>
</section>
<section id="index-facts">
  <app-index-facts></app-index-facts>
</section>
