<header>
  <div class="header_primary container">
    <a [routerLink]="['/'] | localize" class="logo">
      <img class="logo" src="/assets/images/logo_480x176.svg" style="height:100%" alt="Foodpartners International logo">
    </a>

    <nav>
      <a [routerLink]="['/'] | localize" [queryParams]="{section: 'index-about'}"
        translate="shared.header.primary.nav.about"></a>
      <a [routerLink]="['/'] | localize" [queryParams]="{section: 'index-sofindev'}"
        translate="shared.header.primary.nav.contact"></a>
    </nav>
  </div>
  <div class="header_secondary">
    <nav class="container">
      <a [routerLink]="['/weidelco'] | localize" routerLinkActive="active"
        translate="shared.header.primary.companies.company-1"></a>
      <a [routerLink]="['/claes-food-projects'] | localize" routerLinkActive="active"
        translate="shared.header.primary.companies.company-2"></a>
      <a [routerLink]="['/brabopak'] | localize" routerLinkActive="active"
        translate="shared.header.primary.companies.company-3"></a>
      <a [routerLink]="['/dumortier'] | localize" routerLinkActive="active"
        translate="shared.header.primary.companies.company-4"></a>
    </nav>
  </div>
</header>
