<!-- <section style="padding:0;height:0;">&nbsp;</section> -->
<section>
  <app-company-header name="brabopak"></app-company-header>
  <div>
    <app-company-fact company="brabopak" name="activities"></app-company-fact>
  </div>
</section>
<section>
  <app-company-fact company="brabopak" name="locations"></app-company-fact>
  <app-company-fact company="brabopak" name="management"></app-company-fact>
  <app-company-fact company="brabopak" name="founding"></app-company-fact>
  <app-company-fact company="brabopak" name="team"></app-company-fact>
  <app-company-fact company="brabopak" name="more-info">
    <a class="button" link href="https://www.brabopak.com" target="_blank">
      www.brabopak.com
      <i class="fal fa-arrow-right"></i>
    </a>
  </app-company-fact>
</section>
